# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
env/
.venv/
.env/

# Django
db.sqlite3
*.log
local_settings.py
staticfiles/
media/

# Docker volumes
db_data/
media_data/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/
